#about {
  box-sizing: border-box;
  font-size: 1rem;
  overflow: auto;
  padding: 4.5rem 5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  height: 100%;
}

#about h1,
#about p {
  font-family: 'Times New Roman', serif;
  font-weight: 500;
  font-stretch: condensed;
  font-variant: common-ligatures tabular-nums;
  transform: scale(1, 1.1);
  word-spacing: -.25ch;
}

#back-btn {
  font-family: Arial, "Yu Gothic", "游ゴシック体", sans-serif;
}

#about h1 {
  font-size: 200%;
  font-weight: 500;
  line-height: 150%;
}

#about p {
  line-height: 200%;
}

#about b {
  font-size: 125%;
}

#back-btn {
  border-radius: 3rem;
  border: #000 solid 0.1rem;
  color: #000;
  font-size: 100%;
  font-weight: normal;
  padding: 0.5rem 0.75rem;
}

@media screen and (max-width: 550px) {
  #about {
    font-size: 3vw;
    padding: 17.5vw 5vw 5vw;
    margin: 0 auto;
  }

  #back-btn {
    border-radius: 5vw;
    border: #000 solid 0.45vw;
    padding: 1.5vw 2.5vw;
  }
}
