#all {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#all,
#all * {
  box-sizing: border-box;
}

#all ul {
  padding: 0;
  margin: 0;
}

#all ul li,
#all ul p {
  clear: both;
  width: 100%;
}

#all {
  background: #fff5;
  font-size: 1rem;
  transition: 2.5s;
  opacity: 0;
  overflow: auto;
  padding: 0;
  margin: 12.5vh auto 0;
  height: 75%;
  width: 95%;
  max-width: 450px;
  z-index: 0;
}

#all ul {
  display: flex;
  flex-flow: wrap-reverse;
  list-style: none;
  list-style-position: inside;
  width: 100%;
}

#all ul li {
  font-family: "MS Mincho", "SimSong", serif;
  padding: 1rem;
}

#all ul p {
  padding: 0;
  margin: 0.5rem;
  word-break: break-all;
}

#all ul li u {
  display: grid;
  float: left;
  text-decoration: none;
  place-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

#all ul li u span {
  font-size: 150%;
  filter: invert();
}

#all ul li b {
  filter: invert();
  display: block;
  font-size: 150%;
  margin: 0.5rem 0;
}

@media screen and (max-width: 550px) {
  #all {
    font-size: 4vw;
  }

  #all ul li {
    padding: 2vw;
  }

  #all ul p {
    margin: 2vw 0;
  }

  #all ul li u {
    margin-right: 1vw;
    margin-bottom: 1vw;
    width: 10vw;
    height: 10vw;
  }

  #all ul li b {
    font-size: 125%;
    margin: 2vw;
  }
}
