#all {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.you i,
.you u,
#all ul li b,
#all ul li small,
#all ul li button {
  font-family: 'Times New Roman', serif;
  font-weight: 500;
  font-stretch: condensed;
  font-variant: common-ligatures tabular-nums;
  transform: scale(1, 1.1);
  word-spacing: -0.25ch;
}

#ip {
  display: inline-block;
  font-family: "ipag", monospace;
  font-style: normal;
  font-weight: 500;
  transform: scale(1, 1.25);
}

#all,
#all * {
  box-sizing: border-box;
}

.you i,
#all ul li b {
  display: block;
}

#all ul li i {
  margin-bottom: 1rem;
}

#all ul {
  padding: 0;
  margin: 0;
}

#all ul li,
#all ul p {
  clear: both;
  width: 100%;
}

#all {
  background: #fff5;
  font-size: 1rem;
  transition: 2.5s;
  opacity: 0;
  overflow: auto;
  padding: 0;
  margin: 12.5vh auto 0;
  height: 75%;
  width: 95%;
  max-width: 450px;
  z-index: 0;
}

#all ul {
  display: flex;
  flex-flow: wrap-reverse;
  list-style: none;
  list-style-position: inside;
  width: 100%;
}

#all ul li {
  padding: 0.5rem;
}

.you,
#all ul p {
  margin: 0;
  word-break: break-all;
}

.you {
  padding: 1rem;
}

#all ul p {
  padding: 0.5rem;
}

#all ul li u {
  display: grid;
  float: left;
  font-family: 'Times New Roman', serif;
  text-decoration: none;
  place-items: center;
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.you u,
#all ul li u span,
#all ul li b {
  font-size: 150%;
  filter: invert();
}

#all ul li button {
  font-size: 100%;
  border: solid 1px;
  border-radius: 5rem;
  background: #fff;
  padding: 0.25rem 0.75rem;
  margin-top: 1rem;
}

@media screen and (max-width: 550px) {
  #all {
    font-size: 4vw;
  }

  #all ul li {
    padding: 1vw;
  }

  .you,
  #all ul p {
    padding: 2vw;
  }

  #all ul li u {
    margin-right: 2.5vw;
    width: 10vw;
    height: 10vw;
  }

  .you u,
  #all ul li b {
    font-size: 125%;
  }

  #all ul li i {
    margin-bottom: 2.5vw;
  }

  #all ul li button {
    border: solid 0.25vw;
    border-radius: 5vw;
    font-size: 100%;
    padding: 0.5vw 2.5vw;
    margin-top: 2.5vw;
  }
}
