#enter-btn,
#now button,
#now select,
#log button,
#log select {
  display: inline-block;
  font-family: 'Times New Roman', serif;
  font-weight: 500;
  font-stretch: condensed;
  font-variant: common-ligatures tabular-nums;
  transform: scale(1, 1.1);
  word-spacing: -0.25ch;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}

body {
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
}

button,
input {
  background: transparent;
  pointer-events: auto;
  user-select: auto;
  transition: 1s;
}

button,
input[type="button"],
input[type="submit"],
#now select,
#log select {
  color: #000;
  appearance : none;
  border: none;
  cursor: pointer;
  outline: none;
}

#enter-btn,
#now,
#log {
  position: fixed;
}

#enter-btn {
  border: solid 1px transparent;
  border-radius: 50%;
  font-size: 200%;
  top: 0;
  left: 0;
  padding: 0.5rem 1.3rem;
  margin: 0.5rem;
  z-index: 100;
}

#now,
#log {
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  flex-flow: wrap row;
  justify-content: space-between;
}

#now {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

#log {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;
  user-select: none;
  transition: 1s;
}

#now button,
#log button {
  font-size: 125%;
  padding: 0.25rem;
  margin: 0.5rem;
  pointer-events: auto;
  user-select: auto;
}

#now select,
#log select {
  border: solid 1px;
  border-radius: 2.5rem;
  font-size: 100%;
  padding: 0.25rem 0.5rem;
  margin: 0.75rem 0.5rem;
  pointer-events: auto;
  user-select: auto;
}

#menu button {
  filter: invert();
  mix-blend-mode: difference;
}

@media (orientation: portrait) {
  #now section {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media print {
  body {
    background-size: 100% 100%;
    animation: gradient none;
  }

  #menu,
  #enter-btn,
  #now,
  #log {
    display: none;
  }
}
