.nlc {
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    line-height: 200%;
    font-stretch: condensed;
    font-variant: common-ligatures tabular-nums;
    display: inline-block;
    transform: scale(1, 1.1);
    word-spacing: -.25ch;
}

#enter,
#menu {
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0.25rem 2.5%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#enter {
    top: 0;
    left: 0;
}

#menu {
    bottom: 0;
    left: 0;
}

#enter input[type="submit"] {
    color: #000;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: transparent;
    text-decoration: none;
    font-weight: 500;
    transition: all 500ms ease;
}

#menu .tab {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 500ms ease;
}

#menu .tab:hover,
#menu .check b {
    cursor: pointer;
    color: #fff;
    transition: all 500ms ease;
}

#menu .check {
    float: left;
    display: block;
    width: 2.5rem;
    margin-right: 0rem;
    text-align: center;
}

#menu .check:before {
    content: '[';
    opacity: 1;
}

#menu .check:after {
    content: ']';
    opacity: 1;
}

#menu .check b {
    opacity: 0;
    transition: all 1000ms ease;
}

#menu .tab:hover+.check b {
    opacity: 1;
    transition: all 1000ms ease;
}

#fin {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    width: 100%;
    padding: 0.25rem 2.5%;
}

@media screen and (max-width: 550px) {
    #menu {
        padding: 0.25rem 0.5rem;
    }
}