body {padding:0; margin:0;}
ul {padding:0; margin:0.25rem 0;}
li {list-style: none;}
h2 {margin:1rem 0 0; padding:0; font-size:1.25rem;}
hr {border:hidden; margin-bottom:5%;}
#about,
#org_header {
  padding:1rem;
  position:relative;
  z-index:100;
}
#about h1 {
  font-size:2rem;
  font-weight:500;
}
#about a {
  font-size:1.25rem;
}
#org_header {
  font-size:1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#org_header a {
  color:#000;
  text-decoration:none;
}
#org_header a:hover {
  cursor:pointer;
  color:#ccc;
	text-shadow:0.1rem 0.1rem #000;
  border-bottom:2px solid #000;
}
#org {
  position:relative;
  top:0;
  z-index:10;
  padding:1rem 2.5%;
  background-color:rgb (255,255,255,0.5);
}
#org ul {
  position:relative;
  display: flex;
  flex-wrap: wrap;
}
#org .label {
  display: inline-block;
  margin:0.25rem;
  padding:0.25rem;
  font-size:2.5rem;
  color: #000;
  border-radius:0.5rem;
}
#org .weight .label,
#org .size .label {
  font-size: 1rem;
  border:0.1rem solid #eee;
}
#org .sub {
  position:absolute;
  font-size: 1.25rem;
  right:0; top:0;
  font-family: "MS Serif", "Times New Roman";
}
#org .note {
  font-size:0.75rem;
  margin:1rem 0 0.5rem;
  width:100%;
}
#org .note b {
  width:100%;
  text-align:center;
  display:inline-block;
  margin-bottom:0.5rem;
  font-size:125%;
  color:#fff;
	text-shadow:0.1rem 0.1rem #000;
}
#org .label:hover {
  cursor:pointer;
  color:#fff;
  background-color:#eee;
	text-shadow:0.1rem 0.1rem #000;
}
#org textarea {
  font-size:1.25rem;
  border:0.1rem solid;
  border-radius:0.5rem;
  width:100%; height:2rem;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label {
  color:#fff;
  background-color:#eee;
	text-shadow:0.1rem 0.1rem #fff;
}
.reset-button, button {
  display:inline-block;
  font-size:1.5rem;
  text-align:center;
  padding:0.25rem 0.75rem;
  margin: 0.25rem 0;
  background: #fff;
  text-shadow:0.1rem 0.1rem #fff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius:0.5rem;
}
.reset button {width:100%;}
.reset-button:hover, button:hover {
  color:#fff;
  background: #eee;
	text-shadow:0.1rem 0.1rem #000;
}
.org_list {
  top:0;
  display:block;
  position:relative;
  width:100%;
}
.org_list #inside {
  position:relative;
  padding:1rem 2.5%;
  width:95%;
  overflow:auto;
  display:block;
}
.org_list #inside ul {
  display:flex;
  align-content:flex-end;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
.org_list #inside li {
  position:relative;
  white-space:pre-wrap;
  padding:1rem;
}
.org_list .must {font-weight:900;}
.org_list .should {font-weight:700;}
.org_list .can {font-weight:500;}
.org_list .may {font-weight:300;}
.org_list .could {font-weight:200;}
.org_list .cant {font-weight:100;}

.org_list .positive {font-size:250%;}
.org_list .negative {font-size:50%;}
.org_list .both {font-size:200%;}
.org_list .neither {font-size:100%;}
.org_list .unknown {font-size:150%;}

.is-hide,
.nothing,
.none
{display:none;}
