body {
    padding: 0;
    margin: 0;
}

#mod {
    display: none;
}

#log {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    font-size: 2.5vw;
    font-family: "MS Mincho", "SimSong", serif;
    font-weight: 500;
}

#log_items {
    position: absolute;
    width: 40%;
    height: 65vh;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#log_items li {
    margin: 0;
    padding: 1.25vw 2.5vw;
    word-break: break-word;
}

#log_items li a {
    color: #000;
    text-decoration: none;
}

#log_items p {
    margin: 0;
    font-size: 75%;
    line-height: 150%;
}

#log_items u {
    display: block;
    width: 5vw;
    height: 5vw;
    position: relative;
    float: left;
    margin-top: 0vw;
    margin-right: 2.5vw;
}

#log_items u span {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 150%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#log_items b {
    font-size: 150%;
    filter: invert();
}

#log_items b,
#log_items .date {
    user-select: none;
    pointer-events: none;
    text-transform: uppercase;
}

@media screen and (max-width: 550px) {
    #log {
        font-size: 4.5vw;
    }

    #log_items {
        top: 42.5%;
        width: 70%;
        height: 60vh;
    }

    #log_items u {
        width: 9.5vw;
        height: 9.5vw;
    }
}