#collection {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2.5%;
    margin: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#date,
#collection button[type="submit"] {
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    font-stretch: condensed;
    font-variant: common-ligatures tabular-nums;
    transform: scale(1, 1.1);
    margin: 0;
    border: 1px solid;
    word-spacing: -.25ch;
    display: block;
}

#date {
    padding: 0.5rem;
}

#collection button[type="submit"] {
    background: transparent;
    border-radius: 2rem;
    cursor: pointer;
    color: #000;
    padding: 0.5rem 1rem;
    mix-blend-mode: difference;
}

@media screen and (max-width: 550px) {
    #collection {
        padding: 1rem 0.5rem;
    }
}