#collection {
    position: fixed;
    top: 0;
    margin: 1.25%;
    width: 97.5%;
    z-index: 100;
}

#date {
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    font-stretch: condensed;
    font-variant: common-ligatures tabular-nums;
    transform: scale(1, 1.1);
    word-spacing: -.25ch;
    padding: 1.25%;
    margin: 1.25%;
    display: block;
    float: left;

}

#collection input[type="submit"] {
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    font-stretch: condensed;
    font-variant: common-ligatures tabular-nums;
    transform: scale(1, 1.1);
    word-spacing: -.25ch;
    padding: 1.25%;
    margin: 1.25%;
    display: block;
    float: right;
}